# Web Scraping
# To do:
* Load booking.com and tripadvisor.com pages
* in search line insert city, date and number of people (It can be London, December 05-11th)
* search factors can differ according to page (tripadvisor might need room number)
* by default hotels are persented by popularity, so let's just take first 10, 15 or 20 and upload when to dataframe table
* table consist of: hotel name, price, rating, (can be number of reviews or smth else)

* After having two separate tables, maybe make one table if popular hotels are on both sites and when do comparison
* how many hotels are popular on both sites
* How prices differ on the sites (maybe make some graph)
* how ratings differ

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

import pandas as pd
from bs4 import BeautifulSoup

In [43]:
browser=webdriver.Chrome()

In [44]:
browser.get('https://www.booking.com/searchresults.en-gb.html?label=bdot-XGHtb6WmOO*p7F20iH0qAQS502680093291%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-334108349%3Alp9062284%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YURcq_26dhSxUhbJ5aqVAAw&sid=eb93d36ee0aab94ec431519ad05b54f1&aid=376444&ss=London&ssne=London&ssne_untouched=London&efdco=1&lang=en-gb&src=searchresults&dest_id=-2601889&dest_type=city&checkin=2023-02-09&checkout=2023-02-10&group_adults=2&no_rooms=1&group_children=0&sb_travel_purpose=leisure&nflt=review_score%3D60%3Breview_score%3D90%3Breview_score%3D70%3Breview_score%3D80')

In [45]:
accept = browser.find_element(By.ID, "onetrust-accept-btn-handler")
accept.click()

In [46]:
soup = BeautifulSoup(browser.page_source, 'lxml')

In [47]:
hotels = []
for name in soup.findAll('div',{'data-testid':'title'}):
  hotels.append(name.text.strip())
hotels[:5]
len(hotels)

25

In [48]:
ratings = []
for rating in soup.findAll('div',{'class':'d10a6220b4'}):
      ratings.append(rating.text.strip())
len(ratings)

25

In [49]:
reviews = []
for review in soup.findAll('div',{'class':'db63693c62'}):
  reviews.append(review.text.replace('reviews','').replace(',','').strip())
reviews[:5]
len(reviews)

25

In [50]:
price = []
for p in soup.findAll('span',{'class':['fbd1d3018c', 'bd73d13072']}):
  price.append(p.text.replace('€','').replace(',','').strip()) 
price[:5]
len(price)

25

In [51]:
d1 = {'Hotel':hotels,'Ratings':ratings,'No_of_Reviews':reviews,'Price, €':price}
df = pd.DataFrame.from_dict(d1)

In [52]:
df

                                    Hotel Ratings No_of_Reviews Price, €
0                         Fitzrovia Hotel     7.8          2624      221
1                    ApartaSuites Emerald     8.2             4      171
2              The Windmill On The Common     8.5           767      146
3                          The Kings Arms     9.4           612      204
4                    The Tommyfield Hotel     8.6           483      135
5             Innbox Hotel St. Johns Wood     7.0            35      181
6                    Lancaster Hall Hotel     7.9          1050      133
7                             Haven Hotel     7.0           784       79
8             Assaha Hyde Park Apartments     6.9          1298       83
9                     The Tudor Inn Hotel     6.6           783      112
10              Chelsea House Hotel - B&B     7.7          1492      111
11               The Darlington Hyde Park     8.2           696      159
12                   Coach & Horses Hotel     8.8           769      142
13                         My Place Hotel     6.2           533      118
14                      The Station Hotel     8.5           434      112
15  The Bedford Balham - Live Music Venue     8.2           666      124
16                      Seven Dials Hotel     7.6          1929      127
17                       Ridgemount Hotel     8.6          1294      135
18                         The Distillery     7.8           141      146
19                        Hyde Park Green     7.5           378      133
20                         Fox and Anchor     8.3           219      215
21                     Tony's House Hotel     6.3           684       80
22                  The Princess Victoria     8.1           384      135
23                   KX Rooms Kings Cross     6.8           414      114
24            The Chapter Hotel Hyde Park     6.8           474      117

In [42]:
df.to_csv("bookingcom_london_list.csv")